

.book{
    display: flex;
    width: 150px;
    height: 200px;
    align-self: center;
}

.spine{
    width: 20%;
    background-color: #302506;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover{
    width: 80%;
    background-color: #5C4026;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.triangle_left_top{
    height: 0;
    width: 0;
    border-top: 0 solid transparent;
    border-right: 15px solid #B0A174;
    border-bottom: 15px solid transparent;
    border-left: 0 solid transparent;
    align-self: flex-end;
}   

.triangle_left_bottom{
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #B0A174;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    align-self: flex-end;
}

.triangle_right_top{
    height: 0;
    width: 0;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent ;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #B0A174;
}

.triangle_right_bottom{
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 15px solid #B0A174;
}

.top_of_cover{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.bookmark{
    width: 20px;
    height: 50px;
    background-color: #8FB074;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.triangle{
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #5C4026;
}

